@model MemoriaMVC.ViewModel.HomePageViewModel.HomeIndexViewModel

<style>
    .flex-container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
    }

    .flex-create-note {
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: 700px;
        align-items: center;
        justify-content: center;
    }

    .flex-note-container {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        display: flex;
        align-items: stretch;
        justify-content: center;
        padding: 10px;
        
    }

    .flex-note-container-item {
        margin: 10px;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 8px;
        align-self: flex-start;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 6px 10px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
    }

    .flex-note-container-item:hover {
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 12px 20px rgba(0, 0, 0, 0.2);
    }

    .image-preview-in-note {
        width: inherit;
        height: inherit;
    }

    .pdf-preview-in-note {
        width: inherit;
        height: 200px;
        scroll-behavior:unset;
    }

    .note-link-container {
        display:flex;
        flex-direction:column;
    }

</style>

<!--global datastructures-->
<script>
    var nonDraftNotes = [];
    var attachments = []; // only one attachment per note is here
</script>

<!--Notes container-->
<div class="flex-note-container" id="card-container"></div>

<!--Note creation modal-->
<div id="myModal" class="modal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- modal content goes here -->
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.8.335/pdf.min.js"></script>
<script>var userData = @Html.Raw(Json.Serialize(@Model));</script>
<script src="~/js/_shared.js"></script>
<script src="~/js//noteCreationModal.js"></script>

<script>
    // home page functionality
    $(function () {
        function showAttachmentPreviewToEachCard() {
            try {
                for (var i = 0; i < attachments.length; i++) {
                    showAttachmentPreviewToEachCardSingle(attachments[i]);
                }
            } catch(ex) {
                console.log(ex);
            }
        }

        function showRawCard() {
            for(let i = 0;i < nonDraftNotes.length;i++) {
                showRawCardSingle(nonDraftNotes[i]);
            }
        }

        function showLinksPerNote() {
            for(let i = 0;i < nonDraftNotes.length;i++) {
                showLinksPerNoteSingle(nonDraftNotes[i]);
            }
        }

        fetchNonDraftNotes()
        .then(function(data) {
            nonDraftNotes = data;
            return fetchAttachmentPreview(data);
        })
        .then(function(data) {
            attachments = data;
            showRawCard();
            showAttachmentPreviewToEachCard();
            showLinksPerNote();
        })
    })
</script>

