@model IEnumerable<MemoriaMVC.ViewModel.UserPageViewModel.UserDetailsViewModel>

<link rel="stylesheet" href="~/css/Home/index.css" />

<div class="flex-note-container"></div>


<div id="myModal" class="modal" style="display:none">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- modal content goes here -->
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js//Home/index.js"></script>