
<div style="align-content:center;align-items:center;text-align:center;margin-top:20px;">
    <h4>Congratulations!</h4>
    <p style="text-align:center; ">Your Email is <b>Verified.</b></p>
</div>

<script>
    var navBar = document.getElementById('main-nav-bar');
    navBar.remove();
</script>