
<div style="align-content:center;align-items:center;text-align:center;margin-top:20px;">
    <h4>Ooops!</h4>
    <p style="text-align:center; ">Error in validation. Try again.</p>
</div>

<script>
    var navBar = document.getElementById('main-nav-bar');
    navBar.remove();
</script>