:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --body-bg-color: #f5f7fa;
    --body-text-color: #212529;
    --navbar-bg-color: var(--primary-color);
    --navbar-text-color: #fff;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
}