.flex-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.flex-create-note {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 700px;
    align-items: center;
    justify-content: center;
}

.flex-note-container {
    flex: 1;
    padding: 20px;
}

